.menu {
    border-style: solid;
    margin: 10px;
    margin-bottom: 30px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.flex-container {
    display: flex;
}
  
.flex-container > div {
    border-style: solid;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.flex-container-second {
    display: flex;
}

.flex-container-second > p {
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

.flex-container-third {
    display: flex;
    margin: 10px;
}

.game_page {
    border-style: solid;
    padding: 10px;
    flex: 2;
}

.genre {
    border-style: solid;
    padding: 10px;
    flex: 1;
}

.text {
    font-weight: bold;
}

.info {
    border-style: solid;
    margin: 10px;
    padding: 10px;
}

img {
    border-style: solid;
    width: 275px;
    height: 175px;
    margin: 5px;
}

.gamepicker {
    position: absolute;
    right: 20px;
    border-style: solid;
}